@charset "UTF-8";

 
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-clock:before { content: '🕔'; } /* '\1f554' */